.container {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.contain {
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    float: right;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    float: right;
    cursor: pointer;
    padding: 5px;
}

button:hover {
    color: white;
    background-color: black;
}